/* Cart */
.seat-type {
    width: 130px;
    height: 35px;
}

.cart-container {
    min-height: 400px;
}

.cart-link {
    font-size: 14px;
    color: #D8C39D;
    text-decoration: underline;
}

.cart-link:hover {
    color: #A59578;
}

.cart-title {
    margin-top: 30px;
    border-bottom: 1px solid #fff;
}

.cart-table {
    width: 100%;
    border-spacing: 30px;
    border-collapse: collapse;
    line-height: 20px;
}

.cart-table tr {
    border-bottom: 1px solid #121212;
    border-spacing: 50px;
}

.cart-table tr:last-child {
    border-bottom: none;
}

.cart-moviePoster {
    width: 100px;
    height: 150px;
}

.cart-moviePoster-td {
    width: 120px;
    height: 200px;
}

.seat-type input {
    float: right;
}

/* Payment form */
.pay-now-body {
    min-height: 300px;
}

.pay-now {
    height: 55px;
}

.pay-now label {
    font-weight: 300;
    line-height: 37px;
}

.grey-line {
    border-top: 1px solid #343434 !important;
    background: none;
    padding-top: 20px;
    padding-bottom: -5px;
}

.modal-footer-btn {
    display: block;
    margin: 5px;
    float: right;
}

.sml-margin {
    margin-top: -10px;
}

.error {
    color: #ff0000;
    font-size: 12px;
    margin-top: -6px;
}

/* Fixed table */
.cart-tableContainer{
    margin-top: 1em;
}

.cart-tableColumnHeadings{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding-left: 10px;
}

.cart-tableColumnHeadings > *{
    text-transform: uppercase;
    color: rgba(255,255,255,0.2);
    font-weight: 400;
}

.cart-tableColumnHeadings-movie {
    min-width: 210px;
}

.cart-tableColumnHeadings-information {
    width: 500px;
}

.cart-tableColumnHeadings-payment {
    width: 210px;
}

.cart-tableColumnHeadings-actions {
    width: 210px;
}

.cart-information {
    padding-left: 20px;
    display: inline-block;
    margin-right: auto;
    position: relative;
    flex-grow: 1;
}

.cart-information-content {
    width: 500px;
}

.cart-payment-content, .cart-actions-content {
    width: 210px;
}

/* Buttons */
.redButtonSml {
    background-color: #9D0E16;
    border: 1px solid #9D0E16;
}

.redButtonSml:hover {
    background-color: #AC1018;
    border: 1px solid #9D0E16;
}

.cart-total-cost {
    height: 55px;
    padding: 25px 20px 0 20px;
    text-align: right;
}

.cart-total-cost p, .cart-total-cost span {
    font-size: 18px !important;
}

.seat-qty {
    display: block;
    float: right;
    color: #000000;
    width: 25px;
    height: 20px;
}

.seat-type {
    height: 24px;
    width: 140px;
    margin: 5px 0;
}

/* Success page */
.success-movie {
    display: block;
    height: 155px;
}

.success-movie img {
    width: 100px;
    float: left;
    margin-right: 15px;
}

.cart-empty {
    min-height: 300px;
    text-align: center;
}