/* Footer */
footer {
    background: #121212;
    min-height: 300px;
    padding: 50px 0;
    color: #fff;
}

.footer-logo{
    margin: 0 auto;
    text-align: center;
    padding-bottom: 40px;
    -webkit-text-stroke: 1px #121212;
}


.footer-grid-title{
    padding-bottom: 50px;
}

.footer-studentRow > div{
    padding-bottom: 25px;
}

h4.footer-assignmentTitle{
    margin-bottom: 0;
}

h5.footer-assignmentSubtitle{
    margin-top: 5px;
}

h5.footer-assignmentSubtitle{
    font-weight: 300;
}

h5.footer-studentRoles{
    color: #A4A4A4;
}

.footer-studentList{
    padding-left: 0;
    list-style-type: none;
    color: #A4A4A4;
}