/*Global style*/
*{
    font-family: 'Rubik', 'Helvetica', 'Arial', sans-serif;
    font-size: 13.5px;
    font-weight: 300;
}

body {/**/
    background-color: #000;
    color: #fff;

    /*Clearance for sticky nav*/
    padding-top: 52px;
}

.content{
    padding: 50px 0 100px;
}

/*Typography*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', 'Helvetica', 'Arial', sans-serif;
}

p{
    font-weight: 200;
}

.titleHeader{
    font-size: 2em;
}

.sectionHeader{
    padding-bottom: 5px;
    border-bottom: 1px solid #979797;
}

/* Navigation bar */
.mavericks-nav {
    display: block;
    background-color: #121212;
    text-transform: uppercase;
    border: none;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.7);
}

.navbar-title {
    font-weight: 500;
    text-transform: uppercase;
}

.navbar-brand.navbar-title{
    color: white;
}

.mavericks-nav a, .navbar-default .navbar-nav > li > a {
    color: #A4A4A4;
    font-weight: 400;
}

.navbar-default .navbar-nav > li > a, .navbar-brand.navbar-title {
    border-bottom: 2px solid transparent;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.navbar-default .navbar-nav > li > a:hover {
    border-bottom: 2px solid #fff;
    color: white;
}

.navbar-default .navbar-brand:hover{
    color: #D8C39D;
}