/* Login */

.panel-default {
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
    margin-top: 30px;
    border-color: #3e3e3e;
}

.panel-default > .panel-heading, .panel-default > .panel-body {
    border-color: #3e3e3e;
    background-color: #000;
    color: #fff;
}
