/*
 *   Homepage styles
 */

body {
    background-color: #000 !important;
    color: #fff !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif !important;
}

/* Navigation bar */
.navbar-title {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

#mavericks-nav {
    display: block;
    font-family: 'Rubik', sans-serif;
    background-color: #000;
    text-transform: uppercase;
    margin-bottom: 1px;
    border: none;
}

    #mavericks-nav a {
        color: #ffffff;
    }

/* Carousel */
#mavericks-carousel {
    margin-bottom: 20px;
}

    #mavericks-carousel img {
        width: 100vw;
    }

/* Footer */
footer {
    min-height: 300px;
    padding-top: 20px;
    color: #fff;
}