/* Movies */

/* Movie Page Title: */
.pageTitle-container{
    text-align: center;
    padding-bottom: 20px;
}

/* Page title icon */
.movieList-pageTitle-icon.icon-fire:before{
    font-size: 3em;
    color: #D8C39D;
}

.movieList-pageTitle{
    font-weight: 200;
    font-size: 2em;
    color: #D8C39D;
    letter-spacing: 0px;
}

hr.separator-movieList-nowPlaying{
    width: 40px;
    background: #D8C39D;
    height: 1px;
    border: none;
}

/* Movie List Container */
.flex-container {
    display: inline-flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}


/* Movie Item */
.movieList-movieItem {
    width: 320px;
    margin: 10px;
    padding: 10px;
}

.movieList-movieItem > *{
    text-align: center;
    margin: 0 auto;
}

.movieList-moviePosterContainer{
    width: 145px;
    height: 215px;
    margin-bottom: 20px;
    /* Subtle shadow overlay makes the posters pop :) */
    box-shadow: inset -0.5px 1px 0px rgba(255,255,255,0.1),
    inset 0.5px -1px 0px rgba(255,255,255,0.1)
}

.movieList-moviePoster{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: -2;
}

/* Movie Title: */
.movieList-movieTitle{
    font-size: 1.3em;
    letter-spacing: 0px;
    margin-bottom: 10px;
}

.movieList-movieDirector{
    font-size: 0.9em;
    font-style: italic;
}

hr.separator-movieList-detail{
    width: 25px;
    background: #fff;
    height: 1px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.movieList-movieGenres{
    font-size: 0.9em;
}
.movieList-movieReleaseDate{
    font-size: 0.8em;
    font-weight: 400;
    color: #D2D2D2;
    padding: 5px 0;
}